<div class="container custom-container">

  <div class="row custom-container">

    <div class="col-md-6 m-auto car-login">

      <h1 class="white-titles-middle">Contraseña olvidada</h1>

      <div class="container-fluid mx-0 px-0">
        <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswForm" class="row">
          <div class="col-12 mb-3">
            <input
            [ngClass]="{ 'is-invalid': email?.invalid && email?.touched, 'is-valid': email?.valid }"
            formControlName="email"
            type="text"
            class="form-control"
            id="email"
            placeholder="Correo electrónico"
            autocomplete="off"
            >
            <div
            *ngIf="email?.hasError('required')"
            class="invalid-feedback"
            >
              El correo es obligatorio.
            </div>
          </div>
          <div class="col-12 mb-3">
            <button [disabled]="resetPasswForm.invalid" class="btn btn-secondary">Resetear contraseña</button>
          </div>
        </form>
      </div>
      

    </div>
  </div>

</div>





