<div class="container custom-container mat-typography">
  <div class="row custom-container">
    <div class="col-md-8 m-auto">
      <div class="login-box mat-typography">
        <img src="assets/images/logo/Logo.jpeg" class="avatar" />
        <h1 style="margin-top: 25px">eFirma Web Administrativa</h1>
        <!-- <br> -->
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>

<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="font-size: 20px; color: white">Verificando credenciales de usuario...</p>
</ngx-spinner> -->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">
    Verificando credenciales de usuario...
  </p></ngx-spinner
>
