<div class="container custom-container">

  <div class="row custom-container">

    <div class="col-md-6 m-auto car-login">

      <h1 class="white-titles-middle">Error!!!</h1>

      <div class="container-fluid mx-0 px-0">
        <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswForm" class="row">
          <div class="col-12 mb-3">
            <h1 class="white-titles-middle">Ha ocurrido un error al resetear la contraseña</h1>
          </div>
          <div class="col-12 mb-3">
            <button class="btn btn-secondary">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





