
.white-titles {
  color: #fefefe;
  font-family: "M PLUS Rounded 1c Extra Bold", sans-serif !important;
  font-weight:900;
  font-size: 2.5rem !important;
  line-height: 1.5 !important;
  font-weight: 700 !important;
}

.green-titles {
  color: $primary !important;
  font-family: "M PLUS Rounded 1c Extra Bold", sans-serif !important;
  font-weight:900;
  font-size: 2.5rem !important;
  line-height: 1.5 !important;
  font-weight: 700 !important;
}

.text-primary {
  font-family: 'M PLUS Rounded 1c Regular', sans-serif !important;
  color: $primary !important;
}

.text-secondary {
  font-family: 'M PLUS Rounded 1c Regular', sans-serif !important;
  color: $secondary !important;
}

.text-danger {
  font-family: 'M PLUS Rounded 1c Regular', sans-serif !important;
  color: $red !important;
}

.secondary-titles-middle {
  color: $secondary !important;
  font-family: "M PLUS Rounded 1c Extra Bold", sans-serif !important;
}

.text-white {
  font-family: 'M PLUS Rounded 1c Regular', sans-serif !important;
  color: #fefefe !important;
}

.green-titles-middle {
  color: $primary !important;
  font-family: "M PLUS Rounded 1c Extra Bold", sans-serif !important;
}

.white-titles-middle {
  color: #fefefe;
  font-family: "M PLUS Rounded 1c Extra Bold", sans-serif !important;
}
