
//Importamos el estilo correspondiente con el loading de cada request
@import "../../../../lds-ellipsis.css";
h5,
.h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.3;
    color: #16192c;
}

h5,
.h5 {
    font-size: 1rem;
}

.mat-icon {
    cursor: pointer;
}

// fieldset {
//     font-family: sans-serif;
//     border: 5px solid #1F497D;
//     background: #ddd;
//     border-radius: 5px;
// }

// fieldset legend {
//     background: #1F497D;
//     color: #fff;
//     padding: 5px 10px;
//     font-size: 32px;
//     border-radius: 5px;
//     box-shadow: 0 0 0 5px #ddd;
//     margin-left: 20px;
// }


