<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="formPassword">
        <div class="row">
          <div class="col-6 mt-5">
            <input formControlName="password1" type="password" class="form-control" id="password1" placeholder="Contraseña">
            <div class="text-danger" *ngIf="formPassword.get('password1')?.getError('required') && formPassword.get('password1')?.touched">
              El campo contraseña es oblogatorio
            </div>
            <div class="text-danger" *ngIf="formPassword.get('password1')?.getError('minlength') && formPassword.get('password1')?.touched">
              La contraseña debe tener ocho caracteres como mínimo
            </div>
            <div class="text-danger" *ngIf="formPassword.get('password1')?.getError('notwhiteSpaces')">
              No debe colocar espacios en blanco en la contraseña
            </div>
          </div>
          <div class="col-6 mt-5">
            <input formControlName="password2" type="password" class="form-control" id="password2" placeholder="Repetir Contraseña">
            <div class="text-danger" *ngIf="formPassword?.getError('notSameValues') && formPassword.get('password2')?.touched && formPassword.get('password1')?.valid">
              Las contraseñas deben ser iguales
            </div>
          </div>
          <div class="col-12 text-center">
            <button [disabled]="formPassword.invalid" (click)="save()" class="btn btn-secondary mx-5 my-5">Cambiar Contraseña</button>
            <button (click)="close()" class="btn btn-grey mx-2">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
